@model HospitalManagement.Models.PhieuDatLich
@{
    ViewData["Title"] = "ĐẶT LỊCH KHÁM";
    Layout = "~/Views/Shared/GuestLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 m-auto">
        <div class="ltn__form-box contact-form-box box-shadow white-bg">
            <h4 class="title-2">Đặt lịch khám</h4>
            <form id="contact-form" asp-action="DatLich" asp-controller="Home" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-item input-item-name">
                            <input type="text" asp-for="TenBN" placeholder="Họ và tên (*)">
                            <span asp-validation-for="TenBN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-item input-item-email">
                            <input type="text" asp-for="SDT" placeholder="Số điện thoại (*)">
                            <span asp-validation-for="SDT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-item input-item-email">
                            <input type="email" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-item input-item-subject">

                            <input placeholder="Ngày sinh (*)" asp-format="{0:dd/MM/yyyy}" class="textbox-n" type="text" onfocus="(this.type='date')" asp-for="NgaySinh">
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-item input-item-subject">
                            <input placeholder="Ngày khám (*)" class="textbox-n" asp-format="{0:dd/MM/yyyy HH:mm}" type="text" onfocus="(this.type='datetime-local')" asp-for="NgayKham">
                            <span asp-validation-for="NgayKham" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="input-item input-item-textarea">
                    <textarea asp-for="GhiChu" placeholder="Ghi chú"></textarea>
                </div>
                <div class="btn-wrapper mt-0">

                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Đặt lịch</button>
                </div>
            </form>
        </div>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
