@using Microsoft.AspNetCore.Identity
@using HospitalManagement.Models

@inject SignInManager<NhanVienYte> SignInManager
@inject UserManager<NhanVienYte> UserManager
<style>
    .imgavt {
        width: 30vmin;
        height: 30vmin;
        object-fit: cover;
        object-position: center center;
    }

    .sidebar-user-links a{
        cursor:pointer;
    }

</style>

@*---------------------------------------------------------*@
@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar-user-avatar">
        <img src="~/images/NguoiDung/@((await UserManager.GetUserAsync(User)).Hinh)" alt="avatar" class="imgavt">
    </div>
<div class="sidebar-user-name text-nowrap w-100"> @Helper.GetName((await UserManager.GetUserAsync(User)).HoTen)</div>
<div class="sidebar-user-links ms-2">
    <a class="enable-tooltip text-light me-2" data-placement="bottom" title="Hồ sơ" @*onclick="$('#modal-user-settings').modal('show');"*@ onclick="OpenChangeInfo()"><i class="fad fa-user"></i></a>
    <a class="enable-tooltip text-light me-2" data-placement="bottom" title="Đổi mật khẩu" onclick="OpenChangePass()"><i class="fad fa-lock-alt"></i></a>
    <a title="Đăng xuất" href="@Url.ActionLink("Logout","Identity")" class="text-light"><i class="fad fa-sign-out-alt"></i></a>
</div>
}
