@{
    ViewData["Title"] = "Thống kê doanh thu";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet"
      href="../contrast-bootstrap-pro/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="../contrast-bootstrap-pro/css/cdb.css" />

<script src="../contrast-bootstrap-pro/js/cdb.js"></script>
<script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/9d1d9a82d2.js"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/print.min.css" />
<script src="~/js/print.min.js"></script>

<title>How to create bootstrap charts using bootstrap 5</title>
<style>
    .box {
        display: flex;
        flex-wrap: wrap;
    }

    a:hover {
        cursor: pointer;
    }

    .box-item {
        width: calc(50% - 10px);
        background-color: white;
        font-family: Arial;
        height: 350px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .box-item-full {
        background-color: white;
        font-family: Arial;
        padding: 0;
        height: 800px;
        margin-left: 10px;
        margin-bottom: 10px;
    }



    .box-item-title {
        background-color: rgb(233, 236, 239);
        height: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px
    }

        .box-item-title h6 {
            padding: 10px;
            font-weight: 600;
            color: rgb(108, 117, 125);
        }

    .box-option {
        margin-left: 23px;
    }

        .box-option .form-check {
            margin-left: 15px;
        }

    .input-group {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -7px;
    }

        .input-group .input-group-item {
            width: calc(50% - 30px);
            margin-left: 30px;
        }

    .canvasjs-chart-credit {
        display: none;
    }
</style>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<body>
    <div class="box">
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Biểu đồ tròn</h6>
            </div>
            <div id="chartContainer1" style="height: 270px; width: auto; padding: 5px;"></div>

        </div>
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Biểu đồ cột</h6>
            </div>
            <div id="chartContainer" style="height: 270px; width: auto"></div>
        </div>
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Lựa chọn</h6>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-item">
                    <p>Ngày bắt đầu:</p>
                    <input id="ngayBatDau" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group-item ms-3">
                    <p>Ngày kết thúc:</p>
                    <input id="ngayKetThuc" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="box-option row">
                <div class="col-5">
                    <p>Chọn mục thống kê:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="buttonTongDoanhThu" value="tongDoanhThu" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Tổng doanh thu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="buttonDoanhThuThuoc" value="thuoc" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Thuốc
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="buttonDoanhThuDichVu" value="dichVu" checked>
                        <label onchange="ReportDichVu" class="form-check-label" for="flexRadioDefault2">
                            Dịch vụ
                        </label>
                    </div>
                </div>


                <div class="col-7 mt-3">
                    <button class="btn btn-primary" style="margin-left: 30px;" onclick="ReloadPage()"><i class="fa fa-eye text-white"></i>&nbsp;Thống kê</button>
                </div>
            </div>


        </div>

        <div class="box-item" style="overflow: scroll; overflow-x: hidden">
            <div class="box-item-title">
                <h6>Thông tin</h6>
            </div>
            <div>
                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th scope="col">Năm</th>
                            <th scope="col">Tháng</th>
                            <th scope="col">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody id="BieuDoCot">
                    </tbody>
                </table>
            </div>


        </div>

        <!--List Thống Kê Hoá Đơn-->
        <div class="box-item-full col-12">
            <div class="box-item-title mb-4">
                <h6>Danh sách hoá đơn</h6>
            </div>

            <div class="col-4 mb-3">
                <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm" id="KeySearch" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="list">
                <div class="list-tale">
                    <table class="table table-bordered">
                        <tr id="thead">
                            <th class="col-2">Ngày lập hóa đơn</th>
                            <th class="col-3">Người lập hóa đơn</th>

                            <th class="col-3">Bác sĩ khám</th>
                            <th class="col-3">Tên bệnh nhân</th>
                            <th class="col-1 text-center">Thao tác</th>
                        </tr>
                        <tbody id="List">

                            

                        </tbody>
                    </table>

                </div>
            </div>


        </div>
        <div id="Page"></div>
    </div>

    <!--Modal Detail-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-fullscreen">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                </div>
                <div class="modal-body">

                    <div id="myModalContent">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

@section scripts{
    <script>
        $(".table").hide();

        /*Select button*/
        $("#buttonTongDoanhThu").prop("checked", true);

        /*Auto display thống kế*/
        $(document).ready(function () {
            $("#buttonTongDoanhThu").trigger('change');
        });


        $('input[type=radio][name=flexRadioDefault]').change(function () {

            ReloadPage();

        });

        function PageList(page, ngaybd, ngaykt, type) {


            $('#List').html(`<div class="spinner-border" role="status">

        </div>   <span class="sr-only">Loading...</span>`)
            $.get("/PageList", { Page: page, KeyWord: $('#KeySearch').val(), NgayBatDau: ngaybd, NgayKT: ngaykt, Type: type }, function (data) {

                $('#List').html("");
                data.result.forEach(function (item) {

                    var stringDate = new Date(item.ngayHD);
                    var dd = stringDate.getDate();
                    var MM = stringDate.getMonth();
                    var yyyy = stringDate.getFullYear();
                    var hh = stringDate.getHours();
                    var mm = stringDate.getMinutes();
                    var ss = stringDate.getSeconds();
                    var NgayKham = dd + "/" + MM + "/" + yyyy + ", " + hh + ":" + mm + ":" + ss;

                    $("#List").append(`
                            <tr>
                                        <td class="col-2 text-nowrap">${stringDate.toLocaleString('en-GB')}</td>
                                        <td class="col-3">${item.tenNV}</td>

                                        <td class="col-3">${item.tenBS}</td>
                                        <th class="col-3">${item.tenBN}</th>
                                        <td class="text-center col-1">
                                            <a class="btn btn-infomation btn-sm active" style=" background-color: rgb(17, 138, 178); color: white;" title="Thông tin" onclick="_detail('${item.maHD}',${item.type})" > <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                            `)
                });

                $.get("/LoadPagenation", { currentPage: page, PageTotal: data.pageTotal, NgayBD: ngaybd, NgayKT: ngaykt, Type: type }, function (pagenation) {

                    $('#Page').html(pagenation);
                });

            });



        }
        $("#KeySearch").keyup(function () {
            var ngaybd = $('#ngayBatDau').val();
            var ngaykt = $('#ngayKetThuc').val();
            var type;
            var $Radio = $('input[name=flexRadioDefault]:checked')

            if ($Radio.val() == 'dichVu') {
                type = 1;
            } else if ($Radio.val() == 'thuoc') {
                type = 2;
            }
            else if ($Radio.val() == 'tongDoanhThu') {
                type = 0;
            }


            $.get("/PageList", { Page: 1, KeyWord: $('#KeySearch').val(), NgayBatDau: ngaybd, NgayKT: ngaykt, Type: type }, function (data) {

                $('#List').html("");
                data.result.forEach(function (item) {

                    var stringDate = new Date(item.ngayHD);

                    $("#List").append(`
                                    <tr>
                                        <td class="col-3 text-nowrap">${stringDate.toLocaleString('en-GB')}</td>
                                        <td class="col-2">${item.tenNV}</td>

                                        <td class="col-3">${item.tenBS}</td>
                                        <th class="col-3">${item.tenBN}</th>
                                        <td class="text-center col-1">
                                            <a class="btn btn-infomation btn-sm active" style=" background-color: rgb(17, 138, 178); color: white;" title="Thông tin" onclick="_detail('${item.maHD}',${item.type})" > <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                            `)
                });

                $.get("/LoadPagenation", { currentPage: 1, PageTotal: data.pageTotal, NgayBD: ngaybd, NgayKT: ngaykt, Type: type }, function (pagenation) {

                    $('#Page').html(pagenation);
                });

            });
        });

        //Hàm Detail
        function _detail(_maHD, type) {
            if (type == 1) {

                $.ajax({
                    url: "/Report/Detail/",
                    type: 'GET',
                    data: {
                        MaHD: _maHD
                    },
                    success: function (response) {
                        $("#myModalContent").html(response);
                        $('#myModal').modal('show');
                    }
                });
            }
            else {
                $.ajax({
                    url: "/Report/DetailThuoc/",
                    type: 'GET',
                    data: {
                        MaHD: _maHD
                    },
                    success: function (response) {
                        $("#myModalContent").html(response);
                        $('#myModal').modal('show');
                    }
                });
            }
        }





        function ReloadPage() {
            var $Radio = $('input[name=flexRadioDefault]:checked')

            if ($Radio.val() == 'dichVu') {
                $.ajax({
                    url: "/Report/ThongKeDichVuAction/",
                    type: 'GET',
                    data: {
                        ngayBatDau: $('#ngayBatDau').val(),
                        ngayKetThuc: $('#ngayKetThuc').val()
                    },

                    success:
                        /*Biểu đồ cột*/
                        function (response) {
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "light2",
                                exportEnabled: true,
                                data: [{
                                    type: "column",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();

                            /*Biểu đồ tròn*/
                            var chart = new CanvasJS.Chart("chartContainer1", {
                                theme: "light1", // "light1", "light2", "dark1", "dark2"
                                exportEnabled: true,
                                animationEnabled: true,
                                data: [{
                                    type: "pie",
                                    startAngle: 180,
                                    toolTipContent: "<b>{label}</b>: {y}%",
                                    showInLegend: "true",
                                    legendText: "{label}",
                                    indexLabel: "{label} - {y} VNĐ",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();



                            $("#BieuDoCot").html("");
                            $(".table").show();
                            (response.dataTable.obj).forEach(function (item) {

                                $("#BieuDoCot").append(`
                                    <tr>
                                        <td>${item.nam}</td>
                                        <td>${item.thang}</td>
                                        <td>${item.tongTien.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })}</td>
                                    </tr>
                                `)
                                    ;

                            });
                            PageList(1, $('#ngayBatDau').val(), $('#ngayKetThuc').val(), 1)

                        }

                });
            }


            /*-----------------------*/

            else if ($Radio.val() == 'thuoc') {
                $.ajax({
                    url: "/Report/ThongKeHDThuoc/",
                    type: 'GET',
                    data: {
                        ngayBatDau: $('#ngayBatDau').val(),
                        ngayKetThuc: $('#ngayKetThuc').val()
                    },

                    success:
                        /*Biểu đồ cột*/
                        function (response) {
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "light2",
                                exportEnabled: true,
                                data: [{
                                    type: "column",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();

                            /*Biểu đồ tròn*/
                            var chart = new CanvasJS.Chart("chartContainer1", {
                                theme: "light1", // "light1", "light2", "dark1", "dark2"
                                exportEnabled: true,
                                animationEnabled: true,
                                data: [{
                                    type: "pie",
                                    startAngle: 180,
                                    toolTipContent: "<b>{label}</b>: {y}%",
                                    showInLegend: "true",
                                    legendText: "{label}",
                                    indexLabel: "{label} - {y} VNĐ",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();



                            $("#BieuDoCot").html("");
                            $(".table").show();
                            (response.dataTable.obj).forEach(function (item) {

                                $("#BieuDoCot").append(`
                                    <tr>
                                        <td>${item.nam}</td>
                                        <td>${item.thang}</td>
                                        <td>${item.tongTien.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })}</td>
                                    </tr>
                                `)
                                    ;

                            });

                            PageList(1, $('#ngayBatDau').val(), $('#ngayKetThuc').val(), 2)

                        }

                });
            }

            /*-----------------------*/
            else if ($Radio.val() == 'tongDoanhThu') {
                $.ajax({
                    url: "/Report/ThongKeTongDoanhThu/",
                    type: 'GET',
                    data: {
                        ngayBatDau: $('#ngayBatDau').val(),
                        ngayKetThuc: $('#ngayKetThuc').val()
                    },

                    success:
                        /*Biểu đồ cột*/
                        function (response) {
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "light2",
                                exportEnabled: true,
                                data: [{
                                    type: "column",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();

                            /*Biểu đồ tròn*/
                            var chart = new CanvasJS.Chart("chartContainer1", {
                                theme: "light1", // "light1", "light2", "dark1", "dark2"
                                exportEnabled: true,
                                animationEnabled: true,
                                data: [{
                                    type: "pie",
                                    startAngle: 180,
                                    toolTipContent: "<b>{label}</b>: {y}%",
                                    showInLegend: "true",
                                    legendText: "{label}",
                                    indexLabel: "{label} - {y} VNĐ",
                                    dataPoints: response.dataPoints
                                }]
                            });
                            chart.render();



                            $("#BieuDoCot").html("");
                            $(".table").show();
                            (response.dataTable.obj).forEach(function (item) {

                                $("#BieuDoCot").append(`
                                    <tr>
                                        <td>${item.nam}</td>
                                        <td>${item.thang}</td>
                                        <td>${item.tongTien.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })}</td>
                                    </tr>
                                `)
                                    ;

                            });

                            PageList(1, $('#ngayBatDau').val(), $('#ngayKetThuc').val(), 0)

                        }

                });
            }
        }

        function PrintPreview() {
            $.print("#myModalContent");
        }

        function PrintElem() {
            var mywindow = window.open('', 'PRINT', 'height=600,width=600');


            mywindow.document.write(document.getElementById('myModalContent').innerHTML);


            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }




        function clearContent() {
            $('#myModalContent').html("");
        }

    </script>
}

