@using HospitalManagement.Models
@model IEnumerable<HospitalManagement.Models.HoaDonThuoc>
@{
    ViewData["Title"] = "HOÁ ĐƠN THUỐC";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}

<style>
    .box {
        background-color: white;
        font-family: Arial
    }

    .box-title {
        background-color: rgb(233, 236, 239);
        height: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px
    }

        .box-title h6 {
            padding: 10px;
            font-weight: 600;
            color: rgb(108, 117, 125);
        }

    .list {
        margin-inline: 10px;
    }

    .list-table {
        min-height: 400px;
    }

    list-table table {
        border: 1px solid gray;
    }

    #thead {
        background-color: rgb(82, 183, 136);
        color: white;
    }
</style>


<div class="box m-3">
    <div class="box-title mb-4">
        <h6>Thống kê hóa đơn thuốc</h6>
    </div>
    <div class="list">
        <div class="list-table">
            <table class="table table-bordered">
                <tr id="thead">
                    <th class="col-4">Ngày lập hóa đơn</th>
                    <th class="col-3">Người lập hóa đơn</th>
                    <th class="col-3">Bác sĩ khám</th>
                    <th class="col-2 text-center">Thao tác</th>
                </tr>                
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-4">@item.NgayHD</td>
                        <td class="col-3">@item.MaNVNavigation.HoTen</td>

                        <td class="col-3">@item.MaPKNavigation.MaPhieuKhamNavigation.MaBSNavigation.HoTen</td>
                        <td class="col-2 text-center">
                            <a class="btn btn-sm active" style=" background-color: rgb(17, 138, 178); color: white;" onclick="OpenDetail('@item.MaHD')" title="Thông tin"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
    </div>

</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-fullscreen">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="myModalContent">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Hàm mở modal detail hoá đơn dịch vụ
    function OpenDetail(_maHD) {
        $.ajax({
            url: "/Report/DetailThuoc/",
            type: 'GET',
            data: {
                MaHD: _maHD
            },
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
            }
        });
    }
    function PrintElem() {
        var mywindow = window.open('', 'PRINT', 'height=600,width=600');
        mywindow.document.write(document.getElementById('myModalContent').innerHTML);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>


